.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100vw;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.card {
  background-color: #fdf7f4;
  color: #685752;
  max-width: calc(100% / 4 - 10px);
  width: 100%;
  border: none;
}

.img {
  border-radius: 10px;
  padding: 5px;
}

.badge {
  background-color: #685752;
  color: #fdf7f4;
}

.loadingImg {
  border-radius: 10px;
  margin: 5px;
}

.locationContainer {
  align-items: center;
  color: #685752;
  display: flex;
  gap: 5px;
}

.paginationRoot {
  color: #685752;
  margin-top: 50px;
  max-width: calc(100vw - 40px);
}

.paginationRoot a,
.paginationRoot span {
  color: #685752;
  background-color: #fdf7f4;
  border: none;
}

.paginationRoot a:hover,
.paginationRoot span:hover,
.activePaginationItem.activePaginationItem {
  background-color: #685752;
  color: #fdf7f4;
}

.emptyState {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.mobilePagination.mobilePagination {
  display: none;
}

.desktopPagination.desktopPagination {
  display: flex;
}

@media screen and (max-width: 1449px) {
  .card {
    max-width: calc(100% / 3 - 9px);
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: calc(100% / 2 - 7px);
  }
}

@media screen and (max-width: 550px) {
  .card {
    max-width: 100%;
  }

  .cardContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .paginationRoot {
    margin-top: 25px;
  }

  .mobilePagination.mobilePagination {
    display: flex;
  }

  .desktopPagination.desktopPagination {
    display: none;
  }
}
