.root {
  align-items: center;
  background-color: #685752;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100vw;
}

.right {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .root {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}
