.root {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: red;
    padding-left: 72px;
    padding-right: 72px;
}

.right {
    display: flex;
    gap: 50px;
}