.light {
  --bg-color: #fdf7f4;
  --txt-color: #685752;
}

.dark {
  --bg-color: #685752;
  --txt-color: #fdf7f4;
}

.card {
  background-color: var(--bg-color);
  border: none;
  color: var(--txt-color);
  height: 100%;
  width: 100%;
}

.img {
  border-radius: 10px;
  padding: 5px;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.locationContainer {
  align-items: center;
  color: var(--txt-color);
  display: flex;
  gap: 5px;
}

.badge {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

.loadingImg {
  border-radius: 10px;
  margin: 5px;
}
