.root {
  align-items: center;
  color: #685752;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.root::selection {
  background-color: #8eb486;
}

.top,
.bottom,
.citiesList {
  border-radius: 7px;
  max-width: 1280px;
  width: 90%;
}

.top {
  background-color: #fdf7f4;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 230px);
  padding: 10px;
}

.grid1 {
  grid-template-areas:
    "a a a a"
    "a a a a";

  .img1 {
    border-radius: 7px;
  }
}

.grid2 {
  grid-template-areas:
    "a a b b"
    "a a b b";

  .img1 {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }

  .img2 {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
  }
}

.grid3 {
  grid-template-areas:
    "a a b b"
    "a a c c";

  .img1 {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }

  .img2 {
    border-top-right-radius: 7px;
  }

  .img3 {
    border-bottom-right-radius: 7px;
  }
}

.grid4 {
  grid-template-areas:
    "a a b c"
    "a a d d";

  .img1 {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }

  .img3 {
    border-top-right-radius: 7px;
  }

  .img4 {
    border-bottom-right-radius: 7px;
  }
}

.grid5 {
  grid-template-areas:
    "a a b c"
    "a a d e";

  .img1 {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }

  .img3 {
    border-top-right-radius: 7px;
  }

  .img5 {
    border-bottom-right-radius: 7px;
  }
}

.img1 {
  grid-area: a;
}

.img2 {
  grid-area: b;
}

.img3 {
  grid-area: c;
}

.img4 {
  grid-area: d;
}

.img5 {
  grid-area: e;
}

.bottom {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fdf7f4;
  border: none;
  color: #685752;
  flex: 1;
}

.cardHeader {
  font-weight: bold;
}

.cardLink {
  align-items: center;
  display: flex;
  gap: 10px;
  max-width: 100%;
  width: max-content;
}

.locationLink {
  width: 100%;
}

.tabContent {
  padding: 24px;
}

.tabTrigger {
  color: #685752;
  font-weight: 600;
}

.tabTrigger[data-selected] {
  background: #685752;
  color: #fdf7f4;
}

.nearbyLocationsContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.badges {
  display: flex;
  gap: 20px;
  grid-area: badges;
  flex-wrap: wrap;
}

.badge {
  background-color: #685752;
  color: #fdf7f4;
}

.contactContainer {
  grid-area: contact;
}

.contact {
  display: flex;
  gap: 20px;
}

.hoursContainer {
  grid-area: hours;
}

.notFoundContainer,
.loadingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--chakra-font-sizes-4xl);
  gap: 10px;
  justify-content: center;
}

.slider.slider {
  display: none;
}

.slider.slider :global(li.slick-active button::before) {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.slider.slider :global(li:not(.slick-active) button::before) {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.slider.slider :global(.slick-list) {
  max-height: 330px;
}

.desktopImg {
  height: -webkit-fill-available;
  width: 100%;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name location"
    "badges location"
    "contact location"
    "hours location";
  gap: 20px;
}

.name {
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  font-size: var(--chakra-font-sizes-xl);
  font-weight: bold;
  grid-area: name;
  line-height: 1.875rem;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  grid-area: location;
}

.locationInfo .cardHeader {
  margin-top: 0;
}

.cardData {
  height: calc(100% - 57px);
}

.cardData iframe {
  margin-top: 10px;
  border-radius: var(--chakra-radii-md);
}

.contactCTA,
.claimBtn {
  background-color: #685752;
  color: #fdf7f4;
  font-size: 14px;
}

.claimBtn:hover,
.contactCTA:hover {
  background-color: #8eb486;
  color: #685752;
}

@media screen and (max-width: 780px) {
  .photosContainer {
    display: none;
  }

  .slider.slider {
    display: block;
    width: 100%;

    & ul {
      bottom: 10px;
    }
  }

  .top {
    height: fit-content;
    display: flex;
    width: 90vw;
  }

  .bottom {
    flex-direction: column;
    width: 90vw;
  }

  .card.card {
    overflow: unset;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    border-radius: 7px;
    height: 57vw;
    min-height: 293px;
  }

  .desktopImg,
  .locationContainer {
    display: none;
  }

  .nearbyLocationsContainer {
    grid-template-columns: 1fr;
  }

  .contentGrid {
    grid-template-columns: 100%;
    grid-template-areas:
      "name"
      "badges"
      "contact"
      "location"
      "hours";
  }

  .cardData iframe {
    max-height: 151px;
  }
}
